<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Books/Authors - Books</title>
</head>
<body>
    <nav>
        <h1>Books & Authors</h1>
        <a href="/">Books</a>
        <a href="/authors">Authors</a>
    </nav>
    <div class="container">
        <h1>Add a Book</h1>
        <section class="split-screeen">
            <form action="/books/create" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" name="title" id="title" class="form-control">
                </div>
                <button class="btn btn-primary">Submit</button>
            </form>
            <table class="table table-dark">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Title</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for book in books %}
                    <tr>
                        <td>{{ book.id }}</td>
                        <td>{{ book.title }}</td>
                        <td><a href="/books/{{ book.id }}">View</a></td>
                    </tr>    
                    {% endfor %}
                </tbody>
            </table>
        </section>
    </div>
</body>
</html>