<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load statice %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Books and Authors {% block subtitle%}{% endblock %}</title>
</head>
<body>
    <nav>
        <h1>Books & Authors</h1>
        <a href="/">Books & Authors</a>
        <a href="/authors">Authors</a>
    </nav>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
</body>
</html>